<div class="masthead clearfix">
  <div class="inner">
    <a href="<%= root_path %>"><h3 class="masthead-brand">Zack Martin</h3></a>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper "nav-link", "span"%>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>