<div class="collapse navbar-dark bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 py-4">
        <h4 class="text-white">About</h4>
        <p class="text-muted">I’m Zack Martin and I’m a Software Engineer with a background in visual design, web development, and data analysis. I have a passion for improving innovative & intuitive experiences in an iterative process by looking at what is already out there and working (and not working), monitoring qualitative & quantitative analytics, and improving interactions based on user feedback.</p>
      </div>
      <div class="col-sm-4 py-4">
        <h4 class="text-white">Explore</h4>
        <ul class="list-unstyled">
          <%= nav_helper "text-white", "li" %>
          <li><%= login_helper "text-white" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <a href="<%= root_path %>" class="navbar-brand">Zack Martin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>