<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">More recent case studies of my work can be reviewed in an in-person or virtual interview.</p>
    <p>
      <%= link_to "Find Out More About Me", about_path, class:"btn btn-primary" %>
      <%= link_to "Resume (.pdf)", "https://docs.google.com/document/d/1JT16t4705sxuNYjbvU2jGcTU3Kqw-aO5Ts9w5ZB_MXA/edit?usp=sharing", class:"btn btn-secondary" %>
    </p>
  </div>
</section>