<div class="app-card-container">
  <div class="card">
    <h1 class="p-3">About Me</h1>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "ezcater-zack.jpeg", class: "profile-img"%>
        <button
          class="btn btn-lg btn-primary btn-block"
          type="button"
          data-toggle="collapse"
          data-target="#skills"
          aria-expanded="false"
          aria-controler="skills"
          style="margin: 10px 0;">
          Skills
          </button>
        <div class="collapse" id="skills">
          <div class="skills">
            <% @skills.each do |skill| %>
              <h5><%= skill.title %></h5>
              <div class="progress">
                <div 
                  class="progress-bar progress-bar-striped bg-warning" 
                  role="progressbar" 
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                  ></div>
              </div><br>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <p>With a couple years of development experience in a number of industries I realized that the typical product creation process between clients and developers was flawed. All too often developers rarely
        communicate to clients throughout the development stage, resulting in a final product that fails to reach the goal sought by the customer and end user.</p>
        <p>For this reason I decided to utilize a completely different development pattern that focuses on highly focused communication and transparent design patterns. When I take on a project not only do I work to craft the application according to the client's specifications, I give
        daily updates to ensure that the project is aligning properly with the client's goals. The end result is the right product, delivered on time, and on budget.</p>
        <p>
          <button
            class="btn btn-lg btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory">
            Job History
          </button>
          <button
            class="btn btn-lg btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education">
            Education
          </button>
          <p>
            <div class="collapse" id="jobHistory">
              <div class="card card-block p-2 m-1">
                <a class="text-dark" href="https://www.ezcater.com">ezCater.com</a> | Full Stack Engineer
              </div>
              <div class="card card-block p-2 m-1">
                <a class="text-dark" href="https://www.verityplatforms.com">VerityPlatforms.com</a> | Front End Engineer
              </div>
              <div class="card card-block p-2 m-1">
                <a class="text-dark" href="https://www.imadjbara.com">ImadJbara.com</a> | Web Developer
              </div>
              <div class="card card-block p-2 m-1">
                <a class="text-dark" href="https://www.startupselling.com">StartUpSelling.com</a> | Web Developer/Designer
              </div>
            </div>
            <div class="collapse" id="education">
              <div class="card card-block p-2 m-1">
                Bachelors Degree | University of Massachusetts
                <p>September 2012 - December 2015</p>
              </div>
              <div class="card card-block p-2 m-1">
                Programming Bootcamp | Launch Academy
                <p>June 2019 - August 2019</p>
              </div>
            </div>
          </p>
        </p>
      </div>
    </div>
        <center><div>To Improve Is To Change.</div></center>
        <center><div>To Be Perfect Is To Change Often.</div></center>
  </div>
</div>
