

  <div class="inner cover">
    <h1 class="cover-heading">Welcome.</h1>
    <p class="lead">Software development should not be a secret process, when I take on a new project I make it my goal to not only deliver
    a well crafted product but to also ensure that each stage of the process is fully communicated</p>
    <p class="lead">
      <%= link_to "Resume (.pdf)", "https://docs.google.com/document/d/e/2PACX-1vRcs7rMlVKfF5hM7rrMLm4taV4LApm-vuF22oahFNMeQY3XAYOL7cgMsMcBofnmAP3Qv-fZrSZ6EU7K/pub", class: "btn btn-lg btn-primary", target: "_blank" %>
    </p>
  </div>
